.leaflet-tooltip {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

.leaflet-marker-icon {
  display: hidden;
}

.leaflet-tooltip:hover {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

.leaflet-bar a {
  background-color: #242424;
  opacity: 0.9;
  color: rgb(174, 174, 174);
}

.leaflet-bar a:hover {
  background-color: #242424;
  color: #fff;
}

.leaflet-bar a.leaflet-disabled {
  background-color: #242424;
  color: rgb(60, 60, 60);
}

.leaflet-touch .leaflet-bar {
  border: none;
  box-shadow:
    0 -2px 20px #0000001a,
    0 0 12px #0000001a;
  margin: 20px 0 0 20px;
}

.leaflet-control-zoom {
  border-radius: 12px;
  overflow: hidden;
  height: 72px;
  width: 36px;
}

.leaflet-control-attribution {
  position: relative;
  margin: 0;
}

.leaflet-touch .leaflet-bar a {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 50%;
}

/* .hidden-marker {
  background-color: red;
} */
