.leaflet-tooltip {
  padding: 0 !important;
  background: transparent !important;
  border: none !important;
}

.leaflet-marker-icon {
  display: hidden;
}

.leaflet-tooltip:hover {
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
  box-shadow: 5px 5px 15px 5px rgba(0, 0, 0, 0.4);
}

/* .hidden-marker {
  background-color: red;
} */
